.card {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	gap: 1rem;
	background-color: oklch(0.2 0 0);
	border-radius: 1rem;
	outline: 1px solid oklch(1 0 0 / 10%);
	outline-offset: -1px;
	box-shadow: 0 0 0 1px oklch(0 0 0 / 50%);
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
}

.info {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 0.25rem;

	.gold {
		text-align: right;
		color: oklch(0.852 0.199 91.936);
		font-feature-settings: 'ss03';

		&::after {
			content: 'gp';
			font-size: 0.9rem;
			font-weight: 500;
			padding-left: 0.25rem;
		}
	}

	.time {
		text-align: right;
		&::after {
			content: 'sec';
			font-size: 0.9rem;
			font-weight: 500;
			padding-left: 0.25rem;
		}
	}
}

.openInGrafana {
	padding: 0.25rem;
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
	align-items: center;

	&:hover {
		background-color: oklch(0.25 0 0);
		border-radius: 0.5rem;
	}

	.grafanaIcon, .icon {
		mask-size: 100% 100%;
	}

	.grafanaIcon {
		mask-image: url(/grafana.svg);
		background: linear-gradient(#F46800, #FBCA0A);
		margin-left: auto;
		width: 1.25rem;
		height: 1.25rem;
	}

	.icon {
		mask-image: url(/external-link.svg);
		background: oklch(0.85 0 0);
		width: 1rem;
		height: 1rem;
	}
}